html {
  background-color: #e8eddf;
  scroll-behavior: smooth;
}

body {
  font-family: 'Krub', sans-serif;
  background-color: #e8eddf;
  height: 100%;
}

.header {
  border-bottom: 3px solid #38A700;
  background-color: #242423;
  position: sticky;
  top:0;
  z-index: 4;
}

.brand {
  font-family: 'Allura', cursive;
  padding-left: 10%; 
  font-size: 3rem;
  margin-right: 10%;
}

.home-image {
  width: 100%;
}

.home-article {
  padding-bottom: 1rem;
}

.home-last-bets {
  padding-top: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}

.home-btn:hover { 
  border: 2px solid  #38A700;
}

.spinner-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.spinner {
  text-align: center;
}

.forms-container {
  padding-top: 2%;
  min-height: 100vh;
}

.form-titles {
  text-align: center;
}

.bets-buttons-container {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.bet-pages-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-page {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url('../images/back.png');
  background-position: center;
  background-size: contain;
  margin-right: 1rem;
}

.next-page {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url('../images/next.png');
  background-position: center;
  background-size: contain;
  margin-left: 1rem;
}

.new-bet-btn {
  margin-right: 10%;
}

.cards-container {
  padding: 2rem;
  text-align: center;
}

.card {
  // background: url('../images/cardback.jpg');
  // background-size: cover;
  background-color: #242423;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1rem 1rem;
  width: 250px;
  margin: 1rem;
  color: #e8eddf;
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.8);
}

.card-title {
  margin-bottom: 1.5rem;
}

.card-p {
  margin-bottom: 0.5rem;
}

.card-p-win {
  color: #03f73c;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.card-p-loss {
  color: #f72c40;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.card-p-void {
  color: #2e63f7;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.card-p-pending {
  color: #ffc107;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.card-strong {
  color: #e8eddf;
}

.card-btn {
  width: 125px;
  font-size: 1rem;
  background-color: #e8eddf;
  border-color: #212529;
  border-width: 1px;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  border-radius: 0.75rem;
  margin: 5px
} 

.card-btn:hover { 
  margin-bottom: 3px;
  border: 2px solid  #38A700;
}

.card-a {
  width: 125px;
  text-align: center;
  align-items: center;
}

.detail-title{
  padding-bottom: 2rem;
}

.bet-detail-container {
  padding: 3%;
  text-align: center;
  box-sizing: border-box;
  min-height: 90vh;
}

.details-btn-container {
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details-btn-container-win {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.detail-status-pending {
  font-weight: bold;
  color: #ffc107;
}

.detail-status-win {
  font-weight: bold;
  color: #28a745;
}

.detail-status-loss {
  font-weight: bold;
  color: #dc3545;
}

.detail-status-void {
  font-weight: bold;
  color: #007bff;
}

.detail-back-btn {
  width: 125px;
  font-size: 1rem;
  background-color: transparent;
  border-color: #212529;
  border-width: 1px;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  border-radius: 0.75rem;
  margin: 5px
}

.detail-back-btn:hover { 
  margin-bottom: 3px;
  border: 2px solid  #38A700;
}

.errorMessage {
  color: red;
}

.stats-title {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.stats-subtitle {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
}

.stats-h4 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
}

.stats-image-container {
  margin-bottom: 3rem;
}

.stats-image {
  width: 100%;
}

.table-stats-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.stats-btn {
  width: 75px;
  font-size: 1rem;
  background-color: transparent;
  border-color: #212529;
  border-width: 1px;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  border-radius: 0.75rem;
  margin: 5px
}

.stats-btn:hover { 
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid  #38A700;
}

.stats-type-btn {
  width: 125px;
  font-size: 1rem;
  background-color: transparent;
  border-color: #212529;
  border-width: 1px;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  border-radius: 0.75rem;
  margin: 5px
}

.stats-type-btn:hover { 
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid  #38A700;
}

.stats-red {
  color: rgb(253, 79, 67);
  font-weight: bold;
}

.stats-green {
  color: rgb(0, 209, 0);
  font-weight: bold;
}

.stats-blue {
  color: rgb(104, 142, 248);
  font-weight: bold;
}

.stats-btn-container {
  text-align: center;
  margin-bottom: 2rem;
}

.horseRaces-title-container {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.horse-races-first-section{
  border-top: 4px solid #38A700;
  border-bottom: 4px solid #38A700;
}

.horse-races-section{
  border-bottom: 4px solid #38A700;
}

.horse-races-image-container {
  text-align: center;
}

.horse-races-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
  padding-bottom: 4%;
  padding-top: 4%;
}

.horse-races-first-image {
  width: 80%;
  padding-bottom: 4%;
  padding-top: 4%;
}

.about-us-container {
  text-align: center;
  padding: 5% 15% ;
}

.about-us-title {
  padding-bottom: 4%;
}

.about-us-p {
  padding-bottom: 2%;
  text-align: left;
}

.section-container {
  padding: 5% 15%;
}

.section-title {
  padding-bottom: 4%;
  text-align: center;
}

.section-subtitle {
  padding-bottom: 4%;
  font-size: 1.2rem;
  text-align: center;
}

.items-container {
  text-align: center;
}

.next-step-btn-container {
  margin-bottom: 15%;
  margin-top: 8%;
}

.btn-contaniner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.terminology-container {
  margin-bottom: 14%;
}

.item-title {
  text-align: center;
  padding-bottom: 3%;
}

.item-p-text {
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 0px;
}

.horse-race-btn {
  margin-top: 2px;
  width: 100px;
  font-size: 0.9rem;
  background-color: transparent;
  border-color: #212529;
  border-width: 1px;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  border-radius: 0.75rem;
}

.horse-race-btn:hover { 
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid  #38A700;
}

.footer-container {
  bottom: 0;
  clear: both;
}

.footer-rrss-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer-h5-rrss {
  margin-right: 15px;
  margin-bottom: 2px;
}

.footer-image-telegram {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3%;
  margin-bottom: 6%;
}

.footer-image-twitter {
  width: 30px;
  height: 30px;
  margin-top: 3%;
  margin-bottom: 6%;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-last-line {
  padding-top: 16px;
  text-align: center;
  border-top: 2px solid #38A700;
  color: white;
  background-color: #242423;
  padding-bottom: 16px;
}

.footer-last-line-p {
  margin-bottom: 0px;
}


